body{
    background-image: url("tesla2020.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    background-color: rgba(255, 255, 255, 0.315);
    width: 800px;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    color: black;
}
.row{
    margin: 20px;
    padding: 10px;
}
#cenaS{
    font-size: 30px;
    font-weight: bolder;
    color: gold;
}